// @import "../../node_modules/@syncfusion/ej2/material.css";
@import "../../node_modules/@syncfusion/ej2-react-documenteditor/styles/bootstrap4.css";
@import "../../node_modules/@syncfusion/ej2-layouts/styles/bootstrap4.css";
@import "../../node_modules/@syncfusion/ej2-base/styles/bootstrap4.css";
@import "../../node_modules/@syncfusion/ej2-icons/styles/bootstrap4.css";
@import "../../node_modules/@syncfusion/ej2-buttons/styles/bootstrap4.css";
@import "../../node_modules/@syncfusion/ej2-splitbuttons/styles/bootstrap4.css";
@import "../../node_modules/@syncfusion/ej2-inputs/styles/bootstrap4.css";
@import "../../node_modules/@syncfusion/ej2-lists/styles/bootstrap4.css";
@import "../../node_modules/@syncfusion/ej2-navigations/styles/bootstrap4.css";
@import "../../node_modules/@syncfusion/ej2-popups/styles/bootstrap4.css";
@import "../../node_modules/@syncfusion/ej2-dropdowns/styles/bootstrap4.css";
@import "../App.scss";

// .e-icons {
//   color: #fff;
//   font-size: 1.1rem;
// }
.e-download:before {
  content: "\e75d";
}
.e-print:before {
  font-size: 1rem;
  content: "\e743";
}
.e-home:before {
  content: "\e772";
}
.e-manage:before {
  content: "\e7fc";
}

#AutosaveLog b {
  color: #388e3c;
}

#AutosaveLog hr {
  margin: 1px 10px 1px 0px;
  border-top: 1px solid #eee;
}

.property-panel-table div {
  padding-left: 0px;
}

.heading-section {
  padding-bottom: 20px;
  padding-top: 20px;
}

.control-label {
  padding-bottom: 15px;
}

.e-de-padding-right-rtl {
  float: right;
  padding-top: 2px;
  padding-left: 12px;
}

.control-pane,
.control-section {
  height: 100vh;
  font-family: $main-font;
}

#documenteditor-container-body {
  height: calc(100% - 40px);
  display: flex;
  .suggestion-panel {
    width: 300px;
    background: $color-white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .suggestion-header {
      height: 50px;
      width: 300px;
      text-align: center;
      font-weight: bold;
      padding: 1rem;
    }

    .suggestion-items-container {
      margin-top: 1rem;
      height: 100%;
      overflow-y: scroll;
      overflow-x: hidden;
      .suggestion-item {
        padding: 1rem 1rem 0.5rem 1rem;
        cursor: pointer;
        &:hover {
          background-color: #f4f4f4;
        }
        .replace-button {
          background: $color-light;
          text-align: center;
          border-radius: 8px;
          font-weight: bold;
          color: #696969;
          margin: auto;
          width: 50%;
          &:hover {
            background-color: $color-dark;
            color: $color-white;
          }
        }
      }

      .suggestion-item-separator {
        border-bottom: solid 1px #ccc;
        margin: 0 0.5rem 0 0.5rem;

        &:last-child {
          display: none;
        }
      }
    }

    .suggestion-footer {
      height: 42px;
      text-align: right;
      font-weight: bold;
      padding: 0.5rem 1rem 0 0;
      border-top: 1px solid #ccc;
      cursor: pointer;
      color: #696969;
      &:hover {
        color: $color-black;
      }
    }
  }
  .main-editor {
    flex: 1;
    height: 100%;
    max-width: calc(100vw - 300px);
  }
}
