@import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");
@import "../../../node_modules/@syncfusion/ej2-popups/styles/bootstrap4.css";
@import "../../../node_modules/@syncfusion/ej2-base/styles/bootstrap4.css";
@import "../../App.scss";
@import "../../../node_modules/bootstrap/dist/css/bootstrap.min.css";

.auto-sizer {
  height: 100%;
  width: 100%;
}

.e-add:before {
  content: "\e755";
}

.e-delete:before {
  content: "\e773";
}

#manage-translations {
  background: $color-white;
  font-family: $main-font;
  line-height: 1.6;
}

#manage-header {
  height: 70px;
  display: flex;
  justify-content: space-between;
  .manage-title {
    padding: 1rem 0 1rem 2rem;
    flex: 1;
    h1 {
      font-size: 2rem;
      font-weight: bold;
      color: $color-black;
      cursor: default;
    }
  }
  .manage-navigations {
    padding: 1rem;
    align-items: center;
    ul {
      list-style: none;
      display: flex;
      flex-direction: row;
      height: 40px;
      line-height: 40px;
      // padding-right: 1rem;
      li {
        padding-right: 2rem;
        font-size: 1.25rem;
        .redirect-button {
          color: $color_black;
          text-decoration: none;
          cursor: pointer;
          &:hover {
            color: $color-primary;
          }
        }
      }
    }
  }
}

#manage-translations-body {
  height: 100vh;

  .translation-container {
    margin: auto;
    width: 98%;
    height: 90vh;
    border: 1px solid $color-primary;
    border-radius: 8px;
    overflow: hidden;

    .translation-headers-container {
      display: flex;
      box-shadow: 0 1px 4px 1px #f4f4f4;
      z-index: 2;
      position: static;
      .translation-header {
        flex: 1;
        height: 60px;
        display: flex;
        align-items: center;
        h4 {
          color: $color-black;
          font-weight: bold;
          margin: 0;
          padding-left: 1.5rem;
          margin-right: 2.5rem;
        }
        .e-icons {
          position: absolute;
          right: 1.7rem;
          font-size: 2rem;
          margin-right: 2rem;
          color: $color-primary;
          cursor: pointer;
          &:hover {
            color: $color-dark;
          }
        }
      }
    }
  }
}
