@import "../../App.scss";

.color-primary {
  color: darkcyan;
  background-color: whitesmoke;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  margin-bottom: 2rem;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;

  p {
    margin-bottom: 2rem;
  }
}

.App-link {
  color: $color-primary;
  margin-bottom: 1rem;
}

.editorToolbar {
  flex: 1;
}

.editorWrapper {
  max-height: 100vh;
  display: flex;
  flex-direction: column;
}

.editor {
  flex: 1;
  min-height: 300px;
  /* margin: 0 10px 0 10px; */
}
