// @import "../node_modules/bootstrap/dist/css/bootstrap.min.css";

$color-primary: #dfa838;
$color-dark: #db9e23;
$color-white: #fff;
$color-light: #e6bb64;
$color-black: #333;
$color-danger: #f74636;
$color-danger-dark: #d61f0f;
$main-font: "Raleway", sans-serif;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
